<div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>

  <h2>DOWNLOAD</h2>
  <button (click)="downloadYoutubeVideo('bSpJxBXlkgU')">Kraftwerk</button>
  <button (click)="downloadYoutubeVideo('tvQsyxLR7tk')">The Buggles</button>
  <button (click)="downloadYoutubeVideo('YwFsY9HDYKw')">Blinded By Passion</button>

  <div class="result" *ngIf="mainVolume">
    Main Volume is {{mainVolume}}
  </div>

  <div>The video will be downloaded to the project or your user folder.</div>
  <img src="../../assets/mobile.png" height="100" width="auto"/>
</div>
