<div class="container">



  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>

  <button (click)="plainDownload('bSpJxBXlkgU')">BasicDownload Kraftwerk</button>
  <button (click)="downloadYoutubeVideo('bSpJxBXlkgU')">Kraftwerk</button>
  <button (click)="downloadYoutubeVideo('tvQsyxLR7tk')">Buggles</button>
  <button (click)="downloadYoutubeVideo('YwFsY9HDYKw')">Blinded</button>

  <div class="result" *ngIf="mainVolume">
    Main Volume is {{mainVolume}}
  </div>


  <div>
    The video will be downloaded to the project or your user folder.
  </div>


</div>
